<div class="qpage">
  <div class="qpage__header">
    <a class="qpage__back" role="button" routerLink="/client/dashboard" aria-label="Voltar">
      <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
    </a>
    <h1 class="qpage__title">Quiz</h1>
  </div>

  <mat-card class="qpage__card">
    <div
      class="qpage__result"
      [class.qpage__result--correct]="answer.answer === answer.answerCorrect"
      [class.qpage__result--wrong]="answer.answer !== answer.answerCorrect">
      <mat-icon
        aria-hidden="false"
      [fontIcon]="answer.answer === answer.answerCorrect ? 'check_circle' : 'cancel'"></mat-icon>
      <span>{{ answer.answer === answer.answerCorrect ? 'Você acertou!' : 'Você errou essa questão' }}</span>
    </div>

    <p class="qpage__statement">{{ statement }}</p>

    <div class="qpage__choices">
      <div
        class="choice choice--disabled"
        [class.choice--correct]="answer.answerCorrect === 'A'"
        [class.choice--wrong]="answer.answer === 'A' && answer.answer !== answer.answerCorrect">
        <span class="choice__letter">A</span>
        <span class="choice__text">{{ alternativeA }}</span>
        @if (answer.answerCorrect === 'A') {
          <mat-icon class="choice__icon--correct" aria-hidden="false" fontIcon="check_circle"></mat-icon>
        }
        @if (answer.answer === 'A' && answer.answer !== answer.answerCorrect) {
          <mat-icon class="choice__icon--wrong" aria-hidden="false" fontIcon="cancel"></mat-icon>
        }
      </div>

      <div
        class="choice choice--disabled"
        [class.choice--correct]="answer.answerCorrect === 'B'"
        [class.choice--wrong]="answer.answer === 'B' && answer.answer !== answer.answerCorrect">
        <span class="choice__letter">B</span>
        <span class="choice__text">{{ alternativeB }}</span>
        @if (answer.answerCorrect === 'B') {
          <mat-icon class="choice__icon--correct" aria-hidden="false" fontIcon="check_circle"></mat-icon>
        }
        @if (answer.answer === 'B' && answer.answer !== answer.answerCorrect) {
          <mat-icon class="choice__icon--wrong" aria-hidden="false" fontIcon="cancel"></mat-icon>
        }
      </div>

      <div
        class="choice choice--disabled"
        [class.choice--correct]="answer.answerCorrect === 'C'"
        [class.choice--wrong]="answer.answer === 'C' && answer.answer !== answer.answerCorrect">
        <span class="choice__letter">C</span>
        <span class="choice__text">{{ alternativeC }}</span>
        @if (answer.answerCorrect === 'C') {
          <mat-icon class="choice__icon--correct" aria-hidden="false" fontIcon="check_circle"></mat-icon>
        }
        @if (answer.answer === 'C' && answer.answer !== answer.answerCorrect) {
          <mat-icon class="choice__icon--wrong" aria-hidden="false" fontIcon="cancel"></mat-icon>
        }
      </div>

      <div
        class="choice choice--disabled"
        [class.choice--correct]="answer.answerCorrect === 'D'"
        [class.choice--wrong]="answer.answer === 'D' && answer.answer !== answer.answerCorrect">
        <span class="choice__letter">D</span>
        <span class="choice__text">{{ alternativeD }}</span>
        @if (answer.answerCorrect === 'D') {
          <mat-icon class="choice__icon--correct" aria-hidden="false" fontIcon="check_circle"></mat-icon>
        }
        @if (answer.answer === 'D' && answer.answer !== answer.answerCorrect) {
          <mat-icon class="choice__icon--wrong" aria-hidden="false" fontIcon="cancel"></mat-icon>
        }
      </div>

      <div
        class="choice choice--disabled"
        [class.choice--correct]="answer.answerCorrect === 'E'"
        [class.choice--wrong]="answer.answer === 'E' && answer.answer !== answer.answerCorrect">
        <span class="choice__letter">E</span>
        <span class="choice__text">{{ alternativeE }}</span>
        @if (answer.answerCorrect === 'E') {
          <mat-icon class="choice__icon--correct" aria-hidden="false" fontIcon="check_circle"></mat-icon>
        }
        @if (answer.answer === 'E' && answer.answer !== answer.answerCorrect) {
          <mat-icon class="choice__icon--wrong" aria-hidden="false" fontIcon="cancel"></mat-icon>
        }
      </div>
    </div>

    <div class="qpage__actions">
      <button class="qpage__button" type="button" routerLink="/client/quizz">
        <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
        <span>Próxima</span>
      </button>
    </div>
  </mat-card>
</div>
