<div class="question__header">
    <a role="button" routerLink="/client/dashboard">
      <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
    </a>
  </div>
  <div class="question">
    <div class="question__button">
      <button type="button" routerLink="/client/quizz">
        <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
        <p>Próxima</p>
      </button>
    </div>
    <div class="question__title">
      <p>
        {{year}} - {{ number }}
      </p>
    </div>
    <div class="question__enunciado">
      <p>
        {{ statement }}
      </p>
    </div>
  
  
    <div class="form-group"
      [ngClass]="{
        question__resposta: answer.answerCorrect === 'A',
        question__errada: answer.answer === 'A'}">
      <p class="form-group__label">
        A
      </p>
  
      <p>
        {{ alternativeA }}
      </p>
    </div>
  
    <div class="form-group"
      [ngClass]="{
        question__resposta: answer.answerCorrect === 'B',
        question__errada: answer.answer === 'B'}">
      <p class="form-group__label">
        B
      </p>
  
      <p>
        {{ alternativeB }}
      </p>
    </div>
  
    <div class="form-group"
      [ngClass]="{
        question__resposta: answer.answerCorrect === 'C',
        question__errada: answer.answer === 'C'}">
      <p class="form-group__label">
        C
      </p>
  
      <p>
        {{ alternativeC }}
      </p>
    </div>
  
    <div class="form-group"
      [ngClass]="{
        question__resposta: answer.answerCorrect === 'D',
        question__errada: answer.answer === 'D'}">
      <p class="form-group__label">
        D
      </p>
  
      <p>
        {{ alternativeD }}
      </p>
    </div>
  
    <div class="form-group"
      [ngClass]="{
        question__resposta: answer.answerCorrect === 'E',
        question__errada: answer.answer === 'E'}">
      <p class="form-group__label">
        E
      </p>
  
      <p class="form-group__texto">
        {{ alternativeE }}
      </p>
    </div>
  
    <div class="question__button">
      <button type="button" routerLink="/client/quizz">
        <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
        <p>Próxima</p>
      </button>
    </div>
  </div>
  
  
