<div class="ranking">
    <div class="ranking__header">
        <a role="button" routerLink="/client/dashboard">
            <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
        </a>
    </div>
    <mat-card class="col-12">
        <mat-card-header>
          <h2><b>Ranking Geral</b></h2>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item *ngFor="let student of rankingStudents; let i = index" role="listitem">
              <div class="ranking__list">
                <div class="col-2">
                  #{{ i + 1 }} <!-- Índice do Angular é 0-based, mas você quer começar em 1 -->
                </div>
                <div class="col-8">
                  {{ student.student.name }} <!-- Substitua 'name' pelo atributo apropriado do estudante -->
                </div>
                <div class="col-2">
                  {{ student.student.points }} <!-- Substitua 'points' pelo atributo apropriado do estudante -->
                </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
    </mat-card>
</div>

