<div class="login__background">
  <section class="login" >
      <figure>
          <img class="login__img" src="./../../../../assets/images/logo-dateca-background-white.jpg" alt="Logo da empresa e seu nome" />
      </figure>
      <div class="login__block"></div>
      <form class="form mt-4" (ngSubmit)="logIn()" #loginForm="ngForm">
        <h2 class="text-secondary">
          Faça o seu login
        </h2>
        <div class="form-group">
          <label class="login-label" for="login">Login</label>
          <input
            class="form-control login-input"
            placeholder="Login do usuário"
            [(ngModel)]="login"
            name="login"
            #campoUsuario="ngModel"
            required
          />
          <app-message
            *ngIf="campoUsuario.invalid && campoUsuario.touched"
            mensagem="Usuário obrigatório"
          ></app-message>
        </div>

        <div class="form-group">
          <label class="login-label" for="password">Senha</label>
          <input
            type="password"
            class="form-control login-input"
            placeholder="Senha"
            [(ngModel)]="password"
            name="password"
            #campoSenha="ngModel"
            required
          />
          <app-message
            *ngIf="campoSenha.invalid && campoSenha.touched"
            mensagem="Senha obrigatória"
          ></app-message>
        </div>

        <div class="login__button">
          <button
            type="submit"
            class="login-button"
            [disabled]="loginForm.invalid"
          >
            Entrar
          </button>

          <a
            type="button"
            class="cadastro-button"
            routerLink="/cadastro"
          >
            Criar uma conta
          </a>
        </div>

      </form>
  </section>
</div>


