<div class="container">
    <h2 class="cadastro__title">Perfil</h2>
    <mat-icon class="cadastro__icon" aria-hidden="false" fontIcon="account_circle"></mat-icon>
    <div class="">
        <form
            class="cadastro__form"
            [formGroup]="alunoForm"
            (ngSubmit)="onSubmit()">

            <mat-form-field class="cadastro__input" appearance="fill">
                <input matInput placeholder="Nome" formControlName="name" value="{{alunoForm.get('registrationNumber')?.value}}">
                <mat-error *ngIf="alunoForm.get('name')?.errors">
                    Nome é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="cadastro__input" appearance="fill">
                <input matInput [disabled]="true" value="{{alunoForm.get('registrationNumber')?.value}}">
            </mat-form-field>

            <mat-form-field class="cadastro__input" appearance="fill">
                <input matInput placeholder="Telefone" formControlName="phone">
                <mat-error *ngIf="alunoForm.get('phone')?.errors">
                    Telefone é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="cadastro__input" appearance="fill">
                <input matInput type="email" placeholder="Email Institucional" formControlName="email">
                <mat-error *ngIf="alunoForm.get('email')?.errors">
                    Email é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <div>

            </div>
            <div class="cadastro__button">
                <button mat-raised-button
                routerLink="/client/dashboard"
                class="mr-10"
                color="secundary"
                type="button">Cancelar
                </button>
                <button mat-raised-button color="primary" type="submit">Alterar Dados</button>
            </div>
        </form>
    </div>

  </div>
